body
{
 font-family: sans-serif;
 font-size: medium;
 background-color: white;
}

form
{
 margin: 0px;
 padding: 0px;
}

p
{
 text-align: left;
 margin-bottom: 12px;
 margin-top: 0px;
}

.body
{
 border-style: solid;
 border-color: white;
 border-width: 0px;
 margin: 0px;
 padding: 0px;
}

.cbody
{
 border-style: solid;
 border-color:   white;
 border-width:     0px;
 padding-top:     25px;
 padding-right:   40px;
 padding-left:    25px;
}

.mbody
{
 border-style: solid;
 border-color: white;
 border-width:   1px;
 padding-top:   15px;
 padding-right: 15px;

}

.pagebody
{
 padding: 20px;
}

.test
{
 border-style: solid;
 border-color: red;
 border-width: 0px;
}

.ttab
{
 border-right:  0px solid white;
 border-bottom: 1px solid black;
 border-left:   0px solid white;
 padding-left:  6pt;
 padding-right: 6pt;
 padding-top:    3pt;
 padding-bottom: 3pt;

 background-color: white;
 color:          #555566;
 font-family: sans-serif;
 font-size:      small;
}

.htab
{
 border-left: 0px solid black;
 border-bottom: 1px solid black;
 padding-left:  5pt;
 padding-right: 5pt;

 font-size: smaller;
 background-color: white;
 font-family: sans-serif;
 font-size: small;
}

.tspacer
{
 border-right:  0px solid black;
 border-bottom: 1px solid black;
}

.ttabon
{

 border-right: 1px solid black;
 border-left:  1px solid black;
 border-top:   1px solid black;
 padding-left:  6pt;
 padding-right: 6pt;
 padding-top:    3pt;
 padding-bottom: 3pt;

 background-color:    white;
 font-family:    sans-serif;
 font-size:          medium; 
}

.tlnkon
{
 border-right: 0px solid white;
 background-color:     #fffdcc;
 font-family:       sans-serif;
 font-size:             medium;
}

.tlnk
{
 border-right: 0px solid white;
 color: #555566;
 font-size:            medium;
 font-family:      sans-serif;

}

.hlnk
{
 color:     #555566;
 font-size:   small;
}

.tcont
{
 border-top:    0px solid black;
 border-left:   1px solid black;
 border-right:  1px solid black;
 border-bottom: 1px solid black;
 padding: 15px;
}

.tpane
{
 border-left: 0px solid black;
 border-right: 0px solid black;
 border-bottom: 0px solid black;
 margin-top: 10px;
}

.ctitle
{
 font-family:       sans-serif;
 font-size:            large;
 font-weight: bold; 
 text-align:left;
 white-space: nowrap;
}

.form_descr
{
  padding: 4px 0px 10px 0px;
}

.fxn
{
  border: 1px solid #5375a8;
  background-color: #edf4ff;
  padding: 8px;
}

.tcell
{
  padding: 7px 5px;
  font-family: sans-serif;
}

.tou
{
 border: 1px solid #5375a8;
 padding: 2px 2px 2px 0px;
 }

.indent
{
 margin-left: 30px;
}

.newstitle
{
 font-family:       sans-serif;
 font-size:            large;
 font-weight: bold; 
 text-align:left;
 white-space: nowrap;
}

.newsauth
{
 font-family:       sans-serif;
 font-size:            large;
 text-align:right;
 white-space: nowrap;
}

.layout 
{
 border-style: solid;
 border-color: red;
 border-width: 0px;
 margin: 0px;
 padding: 0px;
}

.maintable
{
  padding: 0px 30px;
}

.ftitle
{
 background-color:  #e3edff;
 border-bottom: 1px solid #5375a8;
 padding: 1px 10px;
 width:   100%;
 text-align: center; 
 font-size: medium;
 font-family:  sans-serif; 
}

.fview
{
 width:   100%;
 text-align: left; 
 font-family:  sans-serif; 
 font-size: 0.8em;
}

.fspacer
{
}

.fs
{
 background-color:  #e3edff;
 padding: 0px;
 border: 1px solid #5375a8;
 width:   100%;
 text-align: left;
 font-family: sans-serif;
 vertical-align: top;
}

.fstitle
{
 background-color:  #ffff99;
 margin:  0px;
 padding: 4px 10px 2px 10px;
 border-bottom: 1px solid #5375a8;
 width:   100%;
 font-size:  large;
 font-weight: bold;
}

.fsbody
{
 margin:  0px;
 padding: 8px 10px 4px 12px;
 font-size: smaller;
}

.flinks
{
 font-size: 0.95em;
 white-space: nowrap;
 padding: 0px;
 padding-right: 5px;
}

.flinksmid
{
 font-size: 0.95em;
 white-space: nowrap;
 padding: 10px 5px 10px 0px;
}

.account
{
 background-color:  rgb(100%,100%,100%);
 margin:  0px;
 padding-bottom: 0px;
 padding-right: 0px;

 width:   100%;
 text-align: right; 
  
}

.acccell
{
 margin:  0px;
 padding-right:  7px;
 padding-bottom: 0px;
 border-bottom: 3px;
 text-align: right;
 font-size: smaller;
 font-family: sans-serif; 
 white-space: nowrap;  
}

.mainheader
{
 border-bottom: 1px solid #555566;
 background-color:  white;
 padding: 2px 2px 2px 2px;
 font-size: 0.85em;
 font-family: serif;
 width:   100%;
 text-align: center; 
 vertical-align: middle;  
}

.header
{
 border-bottom: 2px solid #ffff88;
 background-color:  white;
 padding: 10px 10px 10px 10px;
 font-size: 0.85em;
 font-family: serif;
 width:   100%;
 text-align: center; 
 vertical-align: middle;  
}

.menulogo
{
 border-bottom: 2px solid #555566;
 border-right: 1px solid #555566;
}

.logo
{
 padding: 9px 10px 5px 10px;
}

}
.mainheadcell
{
 margin-right:       5px;
 padding-left:       9px;
 padding-right:      7px;
 text-align:        left; 
 vertical-align:  middle;    
 font-size:          3em;
}

.headcell
{
 background-color: white;
 margin-right:       5px;
 padding-left:       9px;
 padding-right:      7px;
# text-align:        left; 
 vertical-align:  middle;    
}

.headimg
{
 background-color: white;
 padding-left:       7px;
 padding-right:      7px;
 text-align:        left; 
 vertical-align:  middle;   
}

.imex
{
 border: 1px solid #5375a8;
 background-color:  white;
 margin-top:    2px;
 margin-bottom:  2px;
 padding:    2px;
 width:   100%;
 text-align: center; 
 font-size: 0.7em;
 vertical-align: middle; 
 font-family:  sans-serif;
 color: #5375a8;  
 font-weight: bold;
}



.bheader
{
 border-top: thin solid rgb(0%,0%,0%);
 margin:  0px;
 padding: 1px;
 text-align: center; 
 font-style: italic;
 vertical-align: middle; 
}

.tmainmenu
{
 font-family: sans-serif;
 border: 0px solid black;
 background-color: #99BBEE;
 margin:  0px;
 padding: 0px;
 text-align: center; 
 vertical-align: top; 
  
}

.mainmenu
{
 border: 0px solid black;
 background-color: #99BBEE;
 margin:  0px;
 padding-left: 10px;
 text-align: center; 
 vertical-align: middle;   
}

.login
{
 border: 1px solid black;
 background-color: #DDAADD;
 margin:  0px;
 padding: 5px;
 text-align: right; 
 vertical-align: middle; 
  
}

.clogin
{
 border: 1px solid #5375a8;
 margin:  0px;
 padding: 5px;
 font-family: sans-serif;
 background-color: #e3edff;
}

.submit
{
 border: 1px solid black;
 background-color: #DDAADD;
 margin:  0px;
 padding: 5px;
 text-align: right; 
 vertical-align: middle; 
  
}

.mmsecttop
{
 border: 0px solid black;
 background-color: #99BBEE;
 padding-top: 20px;
 font-size: 1em;
 font-weight: bolder;
 text-align: left; 
 white-space: nowrap;
 vertical-align: middle; 
}

.mmsect
{
 border: 0px solid black;
 background-color: #99BBEE;
 padding-top: 10px;
 font-size: 1em;
 font-weight: bolder;
 text-align: left; 
 white-space: nowrap;
 vertical-align: middle; 
}

.mmitem
{
 border: 0px solid black;
 background-color: #99BBEE;
 margin:  0px;
 padding-top: 2px;
 padding-bottom: 2px;
 padding-right: 1em;
 text-align: left; 
 text-indent: 1em;
 white-space: nowrap;
 vertical-align: middle; 
 font-size: 0.85em; 

}

.mmlnk
{
 color: black;
 text-decoration: none; 
}

.mmitemon
{
 border: 0px solid black;
 color: white;
 margin:  0px;
 padding: 0px;
 text-align: left;
 text-indent: 1em; 
 white-space: nowrap;
 vertical-align: middle; 
 font-size: 0.85em;
 padding-right: 1em;
  
}

.topmenu
{
 background-color: #e3edff;
}

.maintopmenu
{
 background-color: #e3edff;
# border-bottom: 4px solid #99bbee;
 border-bottom: 4px solid #black;
}

.topmenutab
{
 border: 0px solid rgb(20%,20%,40%);
 margin-top:  0px;
 padding: 3px;
 text-align: center; 
 vertical-align: bottom; 
}

.topmenutabon
{
 border: thin solid #555566;
 margin-top:  0px;
 padding: 3px;
 text-align: center;
 vertical-align: bottom; 
}

.topmenulink
{
 color: black;
 text-decoration: none;
}

.topmenulinkon
{
 color: black;
 text-decoration: none;
}

.corner
{
 border-top:  thick solid #99BBEE;
 margin:  0px;
 padding: 0px;  
}

.midmenu
{
 background-color: #99bbee;
 font-family: sans-serif;
}

.menutab
{
 margin-top:  0px;
 padding-right: 10px;
 padding-left: 3px;
 text-align: center; 
 vertical-align: middle; 
}


.midmenutab
{
 text-align: center; 
 vertical-align: bottom; 
}

.midmenutabon
{
 text-align: center; 
 vertical-align: bottom; 
}

.btmmenutab
{
 text-align: left;
 vertical-align: bottom; 
}

.btmmenutabon
{
 text-align: left; 
 vertical-align: bottom; 
}

.btmmenu
{
 background-color: #555566;
 text-align: center; 
 font-family: sans-serif;
 vertical-align: bottom; 
}

.btmsearch
{
 background-color: #555566;
 color: white;
 text-align: center; 
 font-family: sans-serif;
 vertical-align: bottom; 
}

.btmsearchtab
{
 padding: 0px 4px 5px 4px;
 text-align: center; 
 font-family: sans-serif;
 font-size: 0.75em;
 vertical-align: middle; 
 white-space: nowrap;
}

.midmenulink
{
 color: black;
 text-decoration: none;
}

.midmenulinkon
{
 color: white;
 text-decoration: none;
}

.btmmenulink
{
 color: white;
 text-decoration: none;
}

.btmmenulinkon
{
 color: black;
 text-decoration: none;
}

.bodycell
{
  border-top: thick solid rgb(100%,100%,0%); 
}

.mainmenuoff
{
  border-top: thick solid rgb(100%,100%,0%); 
}


.copyright
{
 margin-top:  0px;
 padding: 3px;
 text-align: left; 
 vertical-align: middle; 
 background-color: rgb(100%,100%,100%);
}

/*
.tcell
{
 border: 0px solid black;
 background-color: #CCDDFF;
 margin:  0px;
 padding: 3px; 
 vertical-align: middle; 
  
}
*/

TABLE.TG { background-color:  #99BBEE; }
          
TABLE.TBF {
           border-style: solid;
           border-color: black;
           border-width: 1pt;
           padding: 5pt;
           background-color:  #FFFFFF;
          }
          
TABLE.TBY {
           border-style: solid;
           border-color: black;
           border-width: 1pt;
           padding: 5pt;
           background-color:  #FFFF99;
          }
          
TD.TDH    {      

           border-style: solid; 
           border-color: black; 
           border-width: 1pt;
           background-color:  white;
          }
          
TD.TTBY    {        
           font-family: sans-serif;
           font-size: larger;
           font-weight:    normal;
           vertical-align: middle;
           padding: 10pt;
           text-align: center;
           border-style: solid; 
           border-color: black; 
           border-width: 1pt;
           background-color:  #FFFFCC;
          }

TH.TTBY    {        
           font-family:    sans-serif;
           font-size:      larger;
           font-weight:    normal;
           vertical-align: middle;
           padding: 10pt;
           text-align: center;
           border-style: solid; 
           border-color: black; 
           border-width: 1pt;
           background-color:  #FFFFCC;
          }

TD.TTY    {        
           font-family: sans-serif;
           font-size: larger;
           padding: 7pt;
           text-align: left;
           border-style: solid; 
           border-color: black; 
           border-width: 1pt;
           background-color:  #FFFFCC;
          }

TD.TTBB   {        
           font-family:    sans-serif;
           font-size:      larger;
           font-weight:    normal;
           vertical-align: middle;
           padding: 10pt;
           text-align: center;
           border-width: 0px;
          }

TH.TTBB   {        
           font-family:    sans-serif;
           font-size:      larger;
           font-weight:    normal;
           vertical-align: middle;
           padding:        10pt;
           text-align:     center;
           border-style:   solid; 
           border-color:   black; 
           border-width:   1pt;
           background-color:  #CCDDFF;
          }

TD.TTB   {        
           font-family:    sans-serif;
           font-size:      larger;
           font-weight:    normal;
           padding:        7pt;
          }


TD.TF   {        
           border-style:   solid; 
           border-color:   black; 
           border-width:   1pt;
          }


TD.TDY    {        
           font-family: sans-serif;
           border-style: solid; 
           border-color: black; 
           border-width: 1pt;
           background-color:  #FFFFCC;
          }
          
TD.TDM    {        
           border-style: solid; 
           border-color: #5375a8; 
           border-width: 1px;
           vertical-align: top;
          }


TD.TDMC  {        
            text-align: left;
         }

TD.TDMC_ACT {       
             text-align:        left;
             color: white;  
            }

TR.TRMC_ACT {       
             text-align:        left;
             background-color:  #99BBEE;
            }
          
TD.TDF    {        
           border-style: solid; 
           border-color: black; 
           border-width: 1pt;
           background-color:  #99BBEE;
          }
          
TH.THH    {
           background-color:  #CCDDFF;
          }

TD.TDF {border-style: solid; border-color: black; border-width: 1pt;}
TH.THF {border-style: solid; border-color: black; border-width: 1pt;}


table.mainmenu1
{
#  border-top: 5px solid #e3edff; 
  background-color:#e3edff;
  border-bottom: 5px solid #99bbee;
}

table.mainmenubtm
{
  border-top: 5px solid #555566;
}

table.menu1_background
{
  border-top: 5px solid #e3edff; 
  background-color:#e3edff;
}

td.menu1first
{
  padding-left: 8px;
  border-right: 1px solid #bbccee;
}

td.menu1 
{
  font-family: sans-serif; 
  font-size: 0.75em; 
  font-weight: bold;
  text-align: center;
  border-right: 1px solid #bbccee; 
  border-left: 1px solid white;
  margin-top: 2px;
  padding: 3px 5px 3px 5px;
}

td.menu1last 
{
  font-family: sans-serif; 
  font-size: 0.75em; 
  font-weight: bold;
  text-align: center;
  border-left: 1px solid white;
  margin-top: 2px;
  padding: 3px 5px 3px 5px;  
}

td.menu1a
{
  font-family: sans-serif; 
  font-size: 0.75em;
  font-weight: bold;
  background-color: #e3edff; 
  text-align: right; 
  white-space: nowrap;
  margin-top: 2px;
  padding: 3px 5px 3px 5px;
}

td.menu1select
{
  font-family:sans-serif; 
  font-size: 0.75em;
  font-weight: bold;
  background-color:#99bbee; 
  text-align:center;
  white-space: nowrap;
  border-right: 1px solid #bbccee;
  border-top: 1px solid #7799cc;
  border-left: 1px solid #7799cc;
  margin-top: 2px;
  padding: 3px 5px 3px 5px;
}

table.menu2_background 
{
  border-top: 5px solid #99bbee;
  background-color:#99bbee;
}

td.menu2first
{
  padding-left: 16px;
  border-right: 1px solid #7799cc;
}

td.menu2 
{
  font-family:sans-serif; 
  font-size: 0.75em; 
  text-align:center; 
  white-space: nowrap;
  padding: 3px 5px 3px 5px;
  border-right: 1px solid #7799cc; 
  border-left: 1px solid #bbccee;
}

td.menu2last
{
  font-family:sans-serif; 
  font-size: 0.75em; 
  text-align:center; 
  white-space: nowrap;
  padding: 3px 5px 3px 5px;
  border-left: 1px solid #bbccee;
}

td.menu2select
{
  font-family: sans-serif; 
  font-size:   0.75em; 
  color: white;
  background-color: #555566; 
  text-align:center; 
  white-space: nowrap;
  padding: 3px 5px 3px 5px;
  border-top:    1px solid #222233; 
  border-right:   1px solid #808090; 
  border-left:  1px solid #222233;
}

td.menu2blank
{
  font-size: 0.75em;
  border-top:    1px solid #99bbee;
  border-left:   1px solid #99bbee;
  border-right:  1px solid #99bbee;
  padding: 3px 5px 3px 5px;
}

table.menu3_background
{
  border-top: 5px solid #555566;
  background-color:     #555566;
}

td.menu3first
{
  padding-left: 24px;
  border-right: 1px solid #222233;
}

td.menu3
{
  font-family:sans-serif; 
  font-size: 0.75em; 
  color: white;
  text-align:center; 
  padding: 3px 5px 3px 5px;
  border-top:    1px solid #555566; 
  border-left:   1px solid #808090; 
  border-right:  1px solid #222233;
}

td.menu3last
{
  font-family:sans-serif; 
  font-size: 0.75em; 
  color: white;
  text-align:center; 
  padding: 3px 5px 3px 5px;
  border-top:    1px solid #555566; 
  border-left:   1px solid #808090; 
  border-right:  1px solid #555566;
}

td.menu3select
{
  font-family:sans-serif; 
  font-size: 0.75em;
  background-color: white; 
  border-top:    1px solid #cccccc; 
  border-left:   1px solid #cccccc; 
  border-right:  1px solid white;
  text-align:center; 
  padding: 3px 5px 3px 5px;
}

td.menu3fselect
{
  font-family:sans-serif; 
  font-size: 0.75em;
  background-color: white; 
  border-top:    1px solid #cccccc; 
  border-left:   1px solid #cccccc; 
  border-right:  1px solid white;
  text-align:center; 
  white-space: nowrap;
  padding: 3px 5px 3px 5px;
}

td.menu3blank
{
  font-size: 0.75em;
  border-top:    1px solid #555566;
  border-left:   1px solid #555566;
  border-right:  1px solid #555566;
  padding: 3px 5px 3px 5px;
}

.margin
{
  padding-left:10px; 
  padding-right:10px;
}
.margin-left
{
  padding-left:10pt;
}
.margin-right{
  padding-right:10pt;
}

.mp
{
 vertical-align: top;
 padding: 10px 8px;
}
 
th.mp
{
 white-space: nowrap;
}

table.dstable
{
  
  background-color:     white;
  margin: 5px;
  margin-top: 15px;
}

td.dsheader
{
   background-color:     #e3edff;
   text-align:center;
   font-family:sans-serif;
   white-space: nowrap; 
}

td.dsheaderA
{
   background-color:     #ffffff;
   text-align:center;
   font-family:sans-serif;
   white-space: nowrap; 
}

td.dsheaderB
{
   background-color:     #f0f0f0;
   text-align:center;
   font-family:sans-serif;
   white-space: nowrap; 
}

td.dscellB
{
   background-color:     #f0f0f0;
   text-align:center;
   font-family:sans-serif;
   white-space: nowrap; 
}

td.dscell
{
   background-color:     #ffffff;
   text-align:center;
   font-family:sans-serif;
   white-space: nowrap; 
}

td.dsfile
{
   background-color:     #ffffff;
   text-align:center;
   font-family: monospace;
   white-space: nowrap; 
}

td.dsfileB
{
   background-color:     #f0f0f0;
   text-align:center;
   font-family: monospace;
   white-space: nowrap; 
}

/*-----------------
   SITE MAP STYLES 
  -----------------*/



table.sitemap {
	font-size:small;
      font-family: sans-serif;       
	color: black;
	border:none}
th.toplevel {
	background-color:#99bbee;
	color: black;
	border:thin solid #5375a8}
td.toplevel {
	background-color:#e3edff;
	border:thin solid #5375a8}
td.toplevel2 {
	background-color:#ccddff;
	border:thin solid #5375a8}
	
th.secondlevel {
	color:white;
	background-color:#555566;
	border:thin solid black}
td.secondlevel {
	background-color:#eeeef5;
	border:thin solid black}
td.secondlevel2 {
	background-color:#bbbbc9;
	border:thin solid black}

th.thirdlevel {
	background-color:#e3edff;
	border:thin solid #99bbee}
td.thirdlevel {
	border:thin solid #99bbee}
td.thirdlevel2 {
	background-color:#e3edff;
	border:thin solid #99bbee}

.fourthlevel {
	border:thin solid #bbbbbb}
.fourthlevel2 {
	background-color:#eeeeee;
	border:thin solid #bbbbbb}

/*-------------
   LINK STYLES
  -------------*/

.sm  {color:black; }

.over {color:blue;}
.out  {color:black;}


a.MON    {    color: black;            /* menus */
              text-decoration: underline;
         }

a.MOFF   {    color: black;
              text-decoration: none;
         }

a.acMON  { color: blue;     }   /* account menu */
a.acMOFF { color: #555566; }

a.mmMON  {    color: black;           /* middle menu */
              text-decoration: underline;
         }

a.mmMOFF {    color: black; 
              text-decoration:none;
         }

a.bmMON  {    color: white;        /* bottom menu */
              text-decoration: underline;
         }

a.bmMOFF {    color: white; 
              text-decoration: none;
         }


